.reset {
    background: linear-gradient(180deg, #73FDB0 0%, #14CEBD 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 400px;
    margin: 40px auto;
}

@media screen and (min-width: 748px) {
    .reset {
        padding: 40px;
    }
}