.standart{
    height: 1117px;
    background-image: url("../img/standart.jpg");
    background-repeat: no-repeat; 
    background-position: center;
}
.standart_profil{
    margin-top: 794px;
    font-size: 22px;
line-height: 27px;
text-align: center;
background: #EC8E5A;
border-radius: 40px;
height: 93px;
width: 444px;
border: none;
position: relative;
left: 390px;
}
