.tariff{
    height: 1358px;
    background-image: url("../img/tarif.jpg");
    background-repeat: no-repeat; 
    background-position: center;
}
.tariff_profil{
    margin-top: 1039px;
    width: 260px;
    height: 83px;
    background: #C3FFE6;
border-radius: 10px;
font-weight: 500;
font-size: 24px;
line-height: 29px;
border:none;
position: relative;
left: 491px;
margin-right: 40px;
}