.childButton{
    height: 45px;
    width: 45px;
    background-color: #FDFFA7;
    position: relative;
    border-radius: 100%;
    border: none;
    margin-left: 35px;
}
.childButton::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "+"; 
    font-size: 45px; 
    color: #875335;
    line-height: 38px;
    text-align: center;
}
