.phone-container {
  max-width: 100% !important;
  height: 50px !important;
  max-height: 56px !important;
  box-sizing: border-box;
  align-items: center;
  border-radius: 40px !important;
  outline: 3px solid #9A9A9A !important;
  margin-top: 16px;
  margin-bottom: 8px;

  &:hover {
    outline: 3px solid #111 !important;
  }
}

.phone-input {
  align-items: center;
  width: 100% !important;
  border-radius: 40px !important;
  padding-top: 14px !important;
  padding-bottom: 14px !important;
  font-weight: 400;
  line-height: 19px;
  height: inherit !important;
}

.phone-btn {
  border-radius: 40px 0 0 40px !important;

  &:hover {
    border-radius: 40px 0 0 40px !important;
  }
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background: none !important;
}

.react-tel-input .flag-dropdown.open .selected-flag {
  background: none;
}